Jurandy1 <jujuba100054@gmail.com> Cursor Agent <cursoragent@cursor.com>
Jurandy1 <jujuba100054@gmail.com> Cursor <cursoragent@cursor.com>
Jurandy1 <jujuba100054@gmail.com> cursoragent <cursoragent@cursor.com>
Jurandy1 <jujuba100054@gmail.com> Claude <claude@anthropic.com>
Jurandy1 <jujuba100054@gmail.com> claude <claude@anthropic.com>
Jurandy1 <jujuba100054@gmail.com> Claude <noreply@anthropic.com>
Jurandy1 <jujuba100054@gmail.com> claude <noreply@anthropic.com>
Jurandy1 <jujuba100054@gmail.com> Claude Sonnet 5 <noreply@anthropic.com>
Jurandy1 <jujuba100054@gmail.com> Composer <composer@cursor.com>
